body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
    height: 90vh;
    background-image: url(./img/bannersty.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #0A1D56; */
    
}

.main {
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    background: rgba(10, 10, 10, 0.222);
    border-radius: 15px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;

}

        input {
            height: 50px;
            border-radius: 10px;
             background: transparent; 
            font-size: 20px; 
             font-weight: bold; 
        }

       ::placeholder {
            color: rgba(75, 81, 81, 0.99);
            font-weight: bold;
            font-size: 15px;
            position: relative;
            left: 10px;

        } 

        #btn {
            height: 40px;
            border-radius: 10px;
            background-color: rgb(255, 255, 255);
            margin-top: 10px;
            width: 80px;
            color: rgb(63, 62, 61);
            margin-bottom: 20px;
            font-weight: bold;
            position: relative;
            left: 37%;
            font-size: 15px;
        }
 
        #btn:hover {
            background-color: black;
            color: white;

        }
        a{
            color: white;
        }

        h1 {
            color: aliceblue;
            font-family: sans-serif;
        }
        .divguest{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .guest{
            margin-bottom: 20px;
            margin-top: -10px;
        }
        .guest1{
            text-decoration: underline;
            color: aliceblue;
            cursor: pointer; 
        }